* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw; 
    height: 100vh;  
    overflow-x: hidden;
}

.page__container {
    background-color: rgb(156, 12, 161);
    height: 100%;
}

.section__container {
    background-color: #fff;
    height: 100%;
}

.hero {
    background-image: linear-gradient(to left, rgb(156, 12, 161), #39065a);
}